@import "./variables.scss";
.content-section {
  //max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 80px 101px;
  position: relative;
  min-height: 150px;
  &__description {
    margin: 0 auto;
    line-height: 2;
    width: 90%;
    text-align: center;
  }
  &__container-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
  }
}

.section-title {
  text-align: center;
  font-weight: 400;
  color: rgb(78, 86, 101);
  margin-bottom: 42px;
  line-height: 0.8;
  &__first {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
  }
  &__second {
    font-family: $accent-font;
    color: $accent-color;
    font-size: 6rem;
    font-weight: 400;
  }
}

.section-story {
  padding-top: 130px;
  &__orange-left {
    position: absolute;
    top: 12%;
    right: 6%;
  }
  &__berry-left {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  &__berry-right {
    position: absolute;
    top: -3%;
    right: 8%;
  }
  &__orange-botton {
    position: absolute;
    bottom: -18%;
    left: 16%;
    z-index: 2;
  }
  &__berry-bottom {
    position: absolute;
    top: 70%;
    right: 15%;
  }
}

.section-senses {
  background-image: url(../../assets/images/waffle-bg.png);
  min-height: 800px;
  background-position: center;
  background-size: cover;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &__container-title {
    text-align: center;
    position: relative;
  }
  &__title {
    color: $color-white;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
  &__container-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
  }
  &__icon-senses {
    padding: 0 1.5rem;
  }
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &__images {
  }
  &__information {
    padding-left: 4rem;
  }
  &_flex {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
    //padding: 0.5rem;
  }
  &__title {
    text-align: left;
  }
}

.section-menu-items {
  margin-bottom: 2.5rem;
  &__title-pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__pay {
    color: $accent-color;
    font-size: 1.5rem;
  }
  &__description {
    font-size: 0.9rem;
    display: inline-block;
    width: 60%;
  }
}

.section-gallery {
  //position: relative;
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &__colum {
    -webkit-box-flex: 1;
    -ms-flex: 1 300px;
    flex: 1 300px;
    min-width: 0;
    //background: #f55;
    padding: 15px 0;
  }
  &__right {
    //background: #57f;
  }
}

.section-form {
  position: relative;
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
  }
  &__colum {
    -webkit-box-flex: 1;
    -ms-flex: 1 300px;
    flex: 1 300px;
    min-width: 0;
    //background: #f55;
    padding: 15px 0;
  }
  &__right {
    //background: #57f;
  }
  &__imput-container {
    margin-bottom: 1.6rem;
  }
  &__input {
    outline: none;
    background: transparent;
    padding: 1.4rem 0.5rem 1.4rem 1rem;
    border: 1px solid #bebebe;
    border-radius: 5px;
    min-width: 70%;
  }
  &__waffel-img {
    position: absolute;
    z-index: 2;
    left: 0;
  }
  &__tomato-img {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10%;
  }
}

.page-footer {
  &__container {
    font-size: 1.2rem;
    padding-top: 3rem;
    background-image: url(../../assets/images/footer-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  &__content {
    color: $color-white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &__location {
    padding-top: 1.7rem;
  }
  &__email-link {
    text-decoration: none;
    color: $color-white;
  }
  &__img {
    margin: 0 auto;
    padding: 2rem 0 0.5rem 0;
  }
  &__content-bottom {
    color: $color-white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
  }
  &__conpany {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__social-item {
    padding: 0.6rem;
  }
}

.btn {
  background-color: $color-white;
  border: 1px solid rgb(250, 192, 197);
  border-radius: 5px;
  color: $base-font-color;
  font-weight: 700;
  font-family: $base-font;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  &__more {
    text-align: center;
  }
  &__form {
    background: $accent-color;
    color: $color-white;
    min-width: 70%;
    padding: 1.4rem 0.5rem 1.4rem 0.5rem;
    border: none;
  }
}
