/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import "./variables.scss";

.page-header-wrapper {
  background-image: url(../../assets/images/header-bg.png);
  min-height: 800px;
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 3rem 0 3rem;
  &__logo {
    margin-top: 3rem;
  }
  &__phone-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 1.4rem;
  }
  &__logo-img {
    width: 70%;
  }
  &__phone-logo-link {
    color: rgb(235, 174, 76);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__phone-logo-img {
    padding: 0 1rem 0 0;
  }
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }
  &__items {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
  }
  &__item {
    //width: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }
  &__link {
    color: rgb(246, 247, 247);
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 0;
  }
  &__box-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  &__title-container {
    text-align: right;
    width: 35%;
    margin-top: 10%;
  }
  &__waffel-img-box {
    width: 60%;
  }
  &__waffel-img {
    position: absolute;
    right: 0;
    top: 54px;
  }
  &__tomato-img {
    position: absolute;
    top: -17%;
    left: 44%;
    -webkit-transform: translate(-12%, 64%);
    -ms-transform: translate(-12%, 64%);
    transform: translate(-12%, 64%);
    width: 13%;
  }
  &__tomato-bold-img {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 460px;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    width: 16%;
  }
}

.page-title {
  font-family: $accent-font;
  font-weight: 400;
  color: rgb(240, 75, 88);
  font-size: 8rem;
  &__brakfast-text {
    display: block;
    height: 100px;
  }
  &__time-text {
    padding-right: 3rem;
  }
}

.global-nav__mobile-controls {
  display: none;
  width: 100%;
  justify-content: space-between;
}

.page-header__link:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.global-nav__link:hover {
  opacity: 0.65;
}

.burger {
  height: $burger-size;
  width: $burger-size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burger__raw {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transition: all 500ms;
}

@media (max-width: 991.98px) {
  .global-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    z-index: 3;
  }

  .page-header__link {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
  }
  .page-header__items {
    display: flex;
    justify-content: space-between;
    max-width: $page-content-width;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .page-header__item {
    flex: 1 1;
    display: flex;
    padding: 0 1rem;
  }

  .global-nav__mobile-controls {
    display: flex;
    justify-content: flex-end;
  }

  .page-header__item {
    padding: 0;
    width: 100%;
    transition: opacity 500ms;
    transition-delay: 100ms;
  }

  .page-header__link {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
  }

  .global-nav_opened .global-nav__item {
    opacity: 1;
  }

  .page-header__items {
    visibility: hidden;
    transform: scaleY(0);
    position: absolute;
    top: $global-nav-height;
    left: 0;
    display: block;
    background-color: rgba(79, 78, 118, 0.8);
    padding: 0 34px;
    height: calc(100vh - #{$global-nav-height});
    transform-origin: top center;
    z-index: 3;
    margin-top: 3%;
  }

  .global-nav_opened > .page-header__items {
    visibility: visible;
    transform: scaleY(1);
  }

  .global-nav__link_with_image {
    display: none;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .page-header__link {
    justify-content: flex-start;
  }

  .global-nav_opened .burger__raw:first-child {
    transform: translateY(5px) rotate(-45deg);
  }

  .global-nav_opened .burger__raw:last-child {
    transform: translateY(-5px) rotate(45deg);
  }
}

@media (orientation: "landscape") {
  .page-header__items {
    margin-top: 6%;
  }
}

@media (max-width: 991.98px) {
  .page-header {
    &__title-container {
      margin-left: 5%;
    }
    &__waffel-img {
      top: 142px;
      width: 80%;
    }
    &__tomato-img {
      top: -11%;
    }
    &__tomato-bold-img {
      top: 548px;
    }
  }
}

@media (max-width: 767.98px) {
  .page-header {
    padding: 0rem 1rem 3rem 1rem;
    flex-direction: column;
    white-space: nowrap;
    &__logo {
      margin-top: 1rem;
    }
    &__logo-img {
      width: 33%;
      margin: 0 auto;
    }
    &__phone-logo {
      margin-bottom: 0;
    }
    &__nav {
      width: 100%;
      flex-direction: row;
      padding: 2rem 0;
      align-items: center;
    }
    &__phone-logo-link {
      font-size: 1rem;
    }
  }
}

@media (max-width: 575.98px) {
  .page-header-wrapper {
    min-height: 450px;
  }
  .page-header {
    &__waffel-img,
    &__tomato-img {
      display: none;
    }
    &__title-container {
      text-align: center;
      width: 100%;
      margin: 0;
    }
    &__waffel-img-box,
    &__tomato-bold-img {
      display: none;
    }
  }
  .page-title {
    font-size: 5rem;
    &__time-text {
      padding: 0;
    }
  }
}
