$base-font: "Playfair Display", serif;
$accent-font: "Cookie", cursive;
$font-regular: 400;
$font-bold: 700;
$accent-color: rgb(240, 75, 88);
$base-font-color: rgb(61, 61, 61);
$base-font-size: 16px;
$modal-bg: #222222;
